SRC/Product/WCF/MAF.TextAnalytics/Connected Services/TextAnalyticsServiceReference/TextAnalyticsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TextAnalyticsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/TextAnalyticsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/TextAnalyticsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/TextAnalyticsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MAF.WCFTextAnalyticsService" />
      <xsd:import schemaLocation="http://localhost:8080/TextAnalyticsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITextAnalyticsService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_SignUp_FaultTextAnalyticsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MAF.WCFTextAnalyticsService" name="detail" element="q1:FaultTextAnalytics" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_SourceFileExist_InputMessage">
    <wsdl:part name="parameters" element="tns:SourceFileExist" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_SourceFileExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:SourceFileExistResponse" />
  </wsdl:message>
  <wsdl:message name="FileDownloadMessage">
    <wsdl:part name="parameters" element="tns:FileDownloadMessage" />
  </wsdl:message>
  <wsdl:message name="FileDownloadMessage_Headers">
    <wsdl:part name="MD5" element="tns:MD5" />
  </wsdl:message>
  <wsdl:message name="FileDownloadReturnMessage">
    <wsdl:part name="parameters" element="tns:FileDownloadReturnMessage" />
  </wsdl:message>
  <wsdl:message name="FileDownloadReturnMessage_Headers">
    <wsdl:part name="DownloadedFilename" element="tns:DownloadedFilename" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_GetResultFile_FaultTextAnalyticsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/MAF.WCFTextAnalyticsService" name="detail" element="q2:FaultTextAnalytics" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="Filename" element="tns:Filename" />
    <wsdl:part name="UserToken" element="tns:UserToken" />
  </wsdl:message>
  <wsdl:message name="ITextAnalyticsService_RunCalculation_FaultTextAnalyticsFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/MAF.WCFTextAnalyticsService" name="detail" element="q3:FaultTextAnalytics" />
  </wsdl:message>
  <wsdl:portType name="ITextAnalyticsService">
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextAnalyticsService/SignIn" message="tns:ITextAnalyticsService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextAnalyticsService/SignInResponse" message="tns:ITextAnalyticsService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextAnalyticsService/LogOut" message="tns:ITextAnalyticsService_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextAnalyticsService/LogOutResponse" message="tns:ITextAnalyticsService_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextAnalyticsService/SignUp" message="tns:ITextAnalyticsService_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextAnalyticsService/SignUpResponse" message="tns:ITextAnalyticsService_SignUp_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITextAnalyticsService/SignUpFaultTextAnalyticsFault" name="FaultTextAnalyticsFault" message="tns:ITextAnalyticsService_SignUp_FaultTextAnalyticsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextAnalyticsService/GetStatus" message="tns:ITextAnalyticsService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextAnalyticsService/GetStatusResponse" message="tns:ITextAnalyticsService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SourceFileExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextAnalyticsService/SourceFileExist" message="tns:ITextAnalyticsService_SourceFileExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextAnalyticsService/SourceFileExistResponse" message="tns:ITextAnalyticsService_SourceFileExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextAnalyticsService/GetResultFile" name="FileDownloadMessage" message="tns:FileDownloadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextAnalyticsService/GetResultFileResponse" name="FileDownloadReturnMessage" message="tns:FileDownloadReturnMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITextAnalyticsService/GetResultFileFaultTextAnalyticsFault" name="FaultTextAnalyticsFault" message="tns:ITextAnalyticsService_GetResultFile_FaultTextAnalyticsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunCalculation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextAnalyticsService/RunCalculation" name="FileUploadMessage" message="tns:FileUploadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextAnalyticsService/RunCalculationResponse" name="FileDownloadReturnMessage" message="tns:FileDownloadReturnMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITextAnalyticsService/RunCalculationFaultTextAnalyticsFault" name="FaultTextAnalyticsFault" message="tns:ITextAnalyticsService_RunCalculation_FaultTextAnalyticsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITextAnalyticsService" type="tns:ITextAnalyticsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/ITextAnalyticsService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/ITextAnalyticsService/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/ITextAnalyticsService/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultTextAnalyticsFault">
        <soap:fault use="literal" name="FaultTextAnalyticsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/ITextAnalyticsService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SourceFileExist">
      <soap:operation soapAction="http://tempuri.org/ITextAnalyticsService/SourceFileExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultFile">
      <soap:operation soapAction="http://tempuri.org/ITextAnalyticsService/GetResultFile" style="document" />
      <wsdl:input name="FileDownloadMessage">
        <soap:header message="tns:FileDownloadMessage_Headers" part="MD5" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FileDownloadReturnMessage">
        <soap:header message="tns:FileDownloadReturnMessage_Headers" part="DownloadedFilename" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultTextAnalyticsFault">
        <soap:fault use="literal" name="FaultTextAnalyticsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunCalculation">
      <soap:operation soapAction="http://tempuri.org/ITextAnalyticsService/RunCalculation" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="Filename" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="UserToken" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FileDownloadReturnMessage">
        <soap:header message="tns:FileDownloadReturnMessage_Headers" part="DownloadedFilename" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultTextAnalyticsFault">
        <soap:fault use="literal" name="FaultTextAnalyticsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TextAnalyticsService">
    <wsdl:port name="BasicHttpBinding_ITextAnalyticsService" binding="tns:BasicHttpBinding_ITextAnalyticsService">
      <soap:address location="http://localhost:8080/TextAnalyticsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>